@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* Common Style */
p{
    margin-bottom: 0;
}
.common-btn {
    color: #fff;
    background-color: #62bdae;
}
.common-btn:hover {
    color: #fff;
    background-color: #51b5a4;
    border-color: #54a89a;
}
.divCss {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 1rem 2rem rgba(132, 139, 200, 0.18);
}
.btn:focus-visible {
    outline: none;
}
.btn:focus {
    box-shadow: none;
}



/* Common Style End */
.hero {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(banner.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}

.form-box {
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
}

.form-box img {
    margin-left: 125px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.form-box button {
    margin-left: 125px;
    /* margin-top: 45px; */
}

.input-field {
    width: 70%;
    padding: 10px 0;
    margin: 5px 5px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.reel {
    margin-left: 60px;
}

:root {
    --main-color: #54a89a;
    --color-dark: #1d2231;
    --text-grey: #8390a2;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

.sidebar {
    width: 250px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: var(--main-color);
    z-index: 100;
    transition: width 300ms;
}

.sidebar .fa-solid {
    padding-right: 1rem;
}
.sidebar-menu .fa-solid {
    font-size: 1.1rem;
}

.sidebar-brand {
    height: 40px;
    padding: 1rem 0rem 1rem 1.8rem;
    color: #fff;
}

.sidebar-brand span {
    display: inline-block;
    padding-right: 1.2rem;
}

.sidebar-brand h3 {
    display: flex;
}

.sidebar-menu  {
    margin-top: 2.2rem;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  
  #drum_table::-webkit-scrollbar {
    width: 3px;
  }
  
  #drum_table::-webkit-scrollbar-track {
    background: var(--main-color);
  }
  
  #drum_table::-webkit-scrollbar-thumb {
    background-color:#b3d9d2 !important;
  }

  #abc::-webkit-scrollbar {
    width: 3px;
  }
  
  #abc::-webkit-scrollbar-track {
    background: var(--main-color);
  }
  
  #abc::-webkit-scrollbar-thumb {
    background-color:#b3d9d2 !important;
  }

  #bbb::-webkit-scrollbar {
    width: 3px;
  }

  #bbb::-webkit-scrollbar-track {
    /* background: var(--main-color); */
    background: var(--main-color);
  }
  
  #bbb::-webkit-scrollbar-thumb {
    background-color:#b3d9d2 !important;
  }
.sidebar-menu ul {
    padding-left: 0.9rem !important;
    
}
.sidebar-menu li {
    width: 100%;
    margin-bottom: 1.3rem;
    position: relative;
    /* padding-left:1rem; */
}
.sidebar-menu .sub-menu{
    transition: all 0.4s ease;
    margin-top: 10px;
}

.sidebar-menu .menu-link {
    padding-left: 1rem;
    display: flex;
    color: #fff;
    font-size: 1rem;
    align-items: center;
    text-decoration: none;
}
.sidebar-menu .drop-menu {
    padding-left: 1rem;
    display: flex;
    color: #fff;
    font-size: 1rem;
    align-items: center;
    text-decoration: none;
}
.sidebar-menu .menu-link.sub-active{
    background: #fff;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    color: var(--main-color);
    margin-left: -1rem;
}
.sidebar-menu .sub-btn.sub-active{
    background: #fff;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    color: var(--main-color);
    margin-left: -1rem;
}

ul .menu-link.active {
    background: #fff;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    color: var(--main-color);
    border-radius: 30px 0px 0px 30px;
}
.sub-btn{
    position:relative !important;
    display: flex !important;
    align-items: center !important;
}
.dropdown{
    position: absolute !important;
    right: 14px !important;
}
.rotate{
    transform: rotate(90deg);
}
.sidebar-menu .sub-menu a{
    padding-left: 33px;
    font-size: 0.9rem;
    line-height: 32px;
    display: flex;
    color: #fff;
    align-items: center;
    text-decoration: none;
}
ul .sub-menu .sub-item.active{
    background: #fff;
    padding-top: 3px;
    margin-top: 10px;
    padding-bottom: 0.4rem;
    color: var(--main-color);
    border-radius: 30px 0px 0px 30px;
}
.sidebar-menu .sub-menu .link_name{
    font-size: 18px;
    display: none;
}
.sub-btn .fas{
    font-size: 0.8rem !important;
    padding-top: 4px;
}
#nav-toggle:checked+.sidebar {
    width: 80px;
}

/* #nav-toggle:checked+.sidebar .sidebar-menu {
    /* margin-top: 2.2rem;
    overflow-y: scroll;
    height: 100%;
    padding-bottom: 70px; 

} */

#nav-toggle:checked+.sidebar .sidebar-brand h3 span,
#nav-toggle:checked+.sidebar li a span,
#nav-toggle:checked+.sidebar li a .dropdown {
    display: none;
}

#nav-toggle:checked~.main-content {
    margin-left: 80px;
}

#nav-toggle:checked~.main-content header {
    width: calc(100% - 80px);
}
.sub-menu{
    display: none;
}
.sub-menu.showMenu{
    display: block;
}
#nav-toggle:checked~.sidebar .sidebar-menu .sub-menu{
    position: absolute;
    left: 100%;
    top: -10px;
    background: #54a89a;
    display: block;
    margin-top: 0;
    width: 195px;
    /* white-space: nowrap; */
    border-radius: 0 6px 6px 0;
    transition: all 0.4s ease;
    opacity: 0;
    pointer-events: none;
}
#nav-toggle:checked~.sidebar .sidebar-menu li:hover .sub-menu{
    top: 0;
    opacity: 1;
    pointer-events: auto;
    z-index: 999999;
}
#nav-toggle:checked~.sidebar .sidebar-menu li:hover .sub-menu .link_name{
    display: block;
    padding-left: 15px;

}
#nav-toggle:checked~.sidebar .sidebar-menu .sub-menu .sub-item{
    padding: 2px 15px !important;

}
.main-content {
    transition: margin-left 300ms;
    margin-left: 250px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    width: calc(100% - 250px);
    top: 0;
    z-index: 100;
    transition: width 300ms;
    background-color: #f0f0f0;
}

#nav-toggle {
    display: none;
}

header .header-title {
    color: #222;
    font-weight: 500;
    margin-top: 5px;
}

header span,
header label i {
    font-size: 1.7rem;
    padding-right: 1rem;
    cursor: pointer;
}

.search-wrapper {
    border: 1px solid #f0f0f0;
    border-radius: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}

.search-wrapper input {
    height: 100%;
    padding: 0.5rem;
    border: none;
    outline: none;
}

.user-wrapper {
    display: flex;
    align-items: center;
}

.user-wrapper img {
    border-radius: 50%;
    margin-right: 1rem;
}

.user-wrapper h4 {
    margin-bottom: -3px !important;
}

.user-wrapper small {
    display: inline-block;
    color: var(--text-grey);
}

main {
    margin-top: 56px;
    padding: 1rem;
    background: #f1f5f9;
    min-height: calc(100vh - 56px);
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    margin-top: 1rem;
}

.card-single {
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 2rem;
    border-radius: 2px;
}

.card-single div:first-child span {
    color: var(--text-grey);
}

.card-single div:last-child span {
    font-size: 3rem;
    background: var(--main-color);
}

.card-single:last-child h1,
.card-single:last-child div:first-child span .card-single:last-child div:last-child span {
    color: #fff;
}

.recent-grid {
    margin-top: 3.5rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 67% auto;
}

.card {
    background: #fff;
    border-radius: 5px;
}

.card-header,
.card-body {
    padding: 1rem;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;
}

.card-header button {
    background: var(--main-color);
    border-radius: 10px;
    color: #fff;
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
    border: 1px solidvar(--main-color);
}

#recent-grid table {
    border-collapse: collapse;
}

#recent-grid thead tr {
    border-top: 1px solid #f0f0f0;
    border-bottom: 2px solid #f0f0f0;
}

#recent-grid thead td {
    font-weight: 700;
}

#recent-grid td {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    color: #222;
}

td .status {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 1rem;
}

#recent-grid tr td:last-child {
    display: flex;
    align-items: center;
}

span.purple {
    background: rebeccapurple;
}

span.pink {
    background: deeppink;
}

span.orange {
    background: orangered;
}

/* .table-responsive{
    width:100%;
    overflow-x:auto  ;
 } */
.divCss {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

#vh {
    margin-bottom: 250px;
}

.abc tr:nth-child(even) {
    background-color: pink;
}

.forget {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 61px;
}
.container-fluid{
    margin-top: 2rem;
}
/* Media Queries */

@media only screen and (max-width: 1199px) {
    .sidebar {
        width: 80px;
    }

    .sidebar .sidebar-brand h3 span,
    .sidebar li a span,
    .sidebar li a .dropdown {
        display: none;
    }

    .main-content {
        margin-left: 80px;
    }

    header {
        width: calc(100% - 80px);
    }

    #nav-toggle:checked+.sidebar .sidebar-brand h3 span,
    #nav-toggle:checked+.sidebar li a span,
    #nav-toggle:checked+.sidebar li a .dropdown {
        display: block;
    }

    #nav-toggle:checked+.sidebar {
        width: 250px;
    }

    #nav-toggle:checked~.main-content {
        margin-left: 250px;
    }

    #nav-toggle:checked~.main-content header {
        width: calc(100% - 250px);
    }
    .sidebar .sidebar-menu .sub-menu{
        position: absolute;
        left: 100%;
        top: -10px;
        background: #54a89a;
        display: block;
        margin-top: 0;
        width: 195px;
        /* white-space: nowrap; */
        border-radius: 0 6px 6px 0;
        transition: all 0.4s ease;
        opacity: 0;
        pointer-events: none;
        z-index: 9999;
    }
    .sidebar-menu li:hover .sub-menu{
        top: 0;
        opacity: 1;
        pointer-events: auto;
    }
    .sidebar .sidebar-menu li:hover .sub-menu .link_name{
        display: block;
        padding-left: 15px;
    }
    #nav-toggle:checked~.sidebar .sidebar-menu .sub-menu .sub-item{
        padding: 2px 15px !important;
    }

    .header-title span {
        display: none;
    }

    .user-wrapper h4 {
        font-size: 14px;
    }

    main {
        margin-top: 45px;
        min-height: calc(100vh - 45px);
    }
    .sidebar-menu .menu-link.sub-active{
        background: #fff;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        color: var(--main-color);
        border-radius: 30px 0px 0px 30px;
        margin-left: 0;
    }
}

@media only screen and (max-width: 991px) {}

@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 576px) {}

@media only screen and (max-width: 375px) {}